EXPO_PUBLIC_API_BASE_URL=https://ajou-international-2phq.onrender.com
EXPO_PUBLIC_USE_LOCAL_CRAWLER_JSON=true
EXPO_PUBLIC_NOTICES_API_URL=
EXPO_PUBLIC_OIA_NOTICES_API_URL=
EXPO_PUBLIC_TOPIK_NOTICES_API_URL=
CRAWLER_OIA_JSON_PATH=..\\workers\\crawlers\\data\\oia_notices_all.json
CRAWLER_TOPIK_JSON_PATH=..\\workers\\crawlers\\data\\topik_notices.json
