EXPO_PUBLIC_API_BASE_URL=https://ajou-international-2phq.onrender.com
EXPO_PUBLIC_USE_LOCAL_CRAWLER_JSON=true
CRAWLER_OIA_JSON_PATH=..\\workers\\crawlers\\data\\oia_notices_all.json
CRAWLER_TOPIK_JSON_PATH=..\\workers\\crawlers\\data\\topik_notices.json
